@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.bandera{
    max-width: 20px;
}

.logo{
    width: 50%;
    
}

.compras{
    max-height: 20px;
    margin: 10px;
}

.menuhrzntl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top:1px black solid;
}

.li {
    float: left;
  }
  
.li a {
    font-weight: bold;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.li a:hover {
    background-color:yellow;
  }

  .search {
    width: 200%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color:black;
  }
  
  .searchButton {
    width: 25%;
    max-height: 36px;
    background:yellow;
    text-align: center;
    color:white;
    cursor: pointer;
    font-size: 11px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .mainimg {
    width: 100%;
    -webkit-filter: brightness(50%);
    filter: brightness(55%);
    height: 525px;
    }
    

  .fisher{
    font-size: 11pt;
    position: absolute;
    left:45%;
    top:100px;
    color:white;
  }

  .kitchen{
    font-size: 35pt;
    position: absolute;
    left:350px;
    top:120px;
    color:yellow;
    font-weight: bold;
  }
  .cash{
    justify-content: center;
    font-size: 35pt;
    position: absolute;
    left:680px;
    top:120px;
    color:white;
  }
  .select{
    font-size: 11pt;
    position: absolute;
    left:550px;
    top:200px;
    color:white;
  }
  .packages{
    font-size: 11pt;
    position: absolute;
    left:630px;
    top:220px;
    color:white;
  }
  .shopnow{
    width: 130px;
    height: 50px;
    background-color: yellow;
    font-size: 9pt;
    position: absolute;
    left:600px;
    top:310px;
    color:white;
    border-radius: 5px;
  }
.menuarrivals{
  max-width: 100%;
  position:relative;
  border: 1px black solid;
  margin-left: 30px;
  margin-right: 30px;
  top: -100px;
  background-color: white;
}

.arrivals{
  position:absolute;
  color:white;
  left:160px;
  top:50px;
  font-size: 9pt;
}

.detelposh{
  position:absolute;
  color:white;
  left:140px;
  top:80px;
  font-size: 20pt;
  
}
.speaker{
    position: absolute;
    color:white;
    left:90px;
    top:110px;
    font-size: 20pt;
    font-weight: bold;
}
.ever{
  position: absolute;;
  color:white;
  left:175px;
  top:150px;
  font-size: 20pt;
  
}
.learn{
  position: absolute;;
  color:yellow;
  left:140px;
  top:200px;
  font-size: 9pt;
  font-weight: bold;
}

.mobile{
  height: 245px;
  width: 370px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  position:absolute;
  left:450px;
  top:20px;
}

.subtitle{
  font-weight: bold;
  line-height: 70px;
}

.interlineado{
  font-size: 11pt;
  line-height: 30px;
}

.ipad{
  position: absolute;
  top:-5px;
  left:125px;
}

.home{
  height: 245px;
  width: 370px;
  border-bottom: solid 1px black;
  position:absolute;
  right:50px;
  top:20px;
}

.batidora{
position: absolute;
top: 10px;
right: -33px;
}

.beauty{
  height: 245px;
  width: 370px;
  border-right:  solid 1px black;
  border-bottom: solid 1px black;
  position:absolute;
  left:450px;
  bottom: -1px;
}

.food{
  height: 245px;
  width: 370px;
  position:absolute;
  right:50px;
  bottom: -1px;
}

.perfum{
  position: absolute;
  top: 15px;
  left: 130px;
}

.menjar{
  position: absolute;
  top: 10px;
  right: -33px;
}